@*<h2>@ViewBag.Name</h2>*@
<br/>
<div class="row">
    <div class="col-md-6">
        <img src=@ViewBag.Image class="img-fluid" />
    </div>
    <div class="col-md-6">
        <button onclick="getElementById('price').innerText = '@ViewBag.usedCost a month'">Used @ViewBag.Name</button>

        <button onclick="getElementById('price').innerText = '@ViewBag.newCost a month'">New @ViewBag.Name</button>
        
        <p id="price"></p>
    </div>
</div>
<br/>
