
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <title>Stack</title>
</head>
<body>
    <div>
        <ul>
            <li>
                <a href="@Url.Action("AddOne", "Stack")" class="w3-bar-item w3-button">1. Add one item to Stack</a>
            </li>
            <li>
                <a href="@Url.Action("AddList", "Stack")" class="w3-bar-item w3-button">2. Add Huge List of Items to Stack</a>
            </li>
            <li>
                <a href="@Url.Action("DisplayStack", "Stack")" class="w3-bar-item w3-button">3. Display Stack</a>
            </li>
            <li>
                <a href="@Url.Action("DeleteFrom", "Stack")" class="w3-bar-item w3-button">4. Delete from Stack</a>
            </li>
            <li>
                <a href="@Url.Action("ClearStack", "Stack")" class="w3-bar-item w3-button">5. Clear Stack</a>
            </li>
            <li>
                <a href="@Url.Action("SearchStack", "Stack")" class="w3-bar-item w3-button">6. Search Stack</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Index")" class="w3-bar-item w3-button">7. Return to Main Menu</a>
            </li>
        </ul>
    </div>
    <div>
        @using (Html.BeginForm("SearchStack", "Stack", FormMethod.Post))
        {
            <input type="text" name="searchValue" id="searchValue" />
            <input type="submit" value="Search" />
        }
        @Html.Raw((String)ViewBag.DisplayResult)
        @Html.Raw((String)ViewBag.DisplayMyStack)
    </div>
</body>
</html>
