
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <title>Dictionary Index</title>
</head>
<body>
    <div>
        <ul>
            <li>
                <a href="@Url.Action("AddOne", "Dictionary")" class="w3-bar-item w3-button">1. Add one item to Dictionary</a>
            </li>
            <li>
                <a href="@Url.Action("AddList", "Dictionary")" class="w3-bar-item w3-button">2. Add Huge List of Items to Dictionary</a>
            </li>
            <li>
                <a href="@Url.Action("DisplayDictionary", "Dictionary")" class="w3-bar-item w3-button">3. Display Dictionary</a>
            </li>
            <li>
                <a href="@Url.Action("DeleteFrom", "Dictionary")" class="w3-bar-item w3-button">4. Delete from Dictionary</a>
            </li>
            <li>
                <a href="@Url.Action("ClearDictionary", "Dictionary")" class="w3-bar-item w3-button">5. Clear Dictionary</a>
            </li>
            <li>
                <a href="@Url.Action("SearchDictionary", "Dictionary")" class="w3-bar-item w3-button">6. Search Dictionary</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Index")" class="w3-bar-item w3-button">7. Return to Main Menu</a>
            </li>
        </ul>
    </div>
    <div>
        @using (Html.BeginForm("SearchDictionary", "Dictionary", FormMethod.Post))
        {
            <input type="text" name="searchValue" id="searchValue" />
            <input type="submit" value="Search" />
        }
        @Html.Raw((String)ViewBag.DisplayResult)
        @Html.Raw((String)ViewBag.DisplayMyDictionary)
    </div>
</body>
</html>
